.footer {
  background-color: #1f1f1f;
  color: #fff !important;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  width: 100%;
  position: static; 
  bottom: auto;
  margin-top: 30px;
}
.footer-text{
    color: #fff !important;
}

body {
  padding-bottom: 60px; 
}