html, body {
  height: 100%;
  margin: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.home-content {
  flex: 1; 
}

Footer {
  background-color: #222;
  color: white !important;
  text-align: center;
  padding: 10px 0;
}
.score {
    font-size: medium;
    color: #232323;
}

.poster-wrapper h4 {
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.poster-wrapper h5 {
  font-size: 0.95rem;
  font-weight: 400;
  color: #202020;
  letter-spacing: 0.5px; 
  margin-bottom: 0;
}
.poster-wrapper hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}
.star {
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 3rem;
}

.star p {
  margin: 0;
  font-size: 1.1rem;
  color: #000000;
}

.star span {
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s;
}

.star span:hover {
  transform: scale(1.2); 
}

.star span.active {
  color: #ffc107; 
}

.star span.inactive {
  color: #ccc; 
}
Label{
    color: #000;
    font-size: 1.1rem;
}

.mt-3{
    margin-left: 30px;
    width: 95%;
}

.titel {
  margin-top: 50px;
  font-size: 1.3rem;      
  font-weight: bold;       
  color: #333;             
  border-left: 5px solid #007bff; 
}
textarea.form-control {
  border-radius: 10px;          
  border: 1px solid #ccc;      
  padding: 12px 15px;          
  font-size: 15px;              
  resize: none;                 
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1); 
  transition: all 0.3s ease;   
}

textarea.form-control:focus {
  background: #fff;
  border: 1px solid #808080;
  box-shadow: 0 0 8px rgba(72, 73, 73, 0.2);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  gap: 10px;  
}

.navbar .logo {
  height: 50px;
}
.btn {
  color: rgb(35, 35, 35);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.navbar-right .btn {
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 12px;
  border: none;
  background-color: #eee;
  cursor: pointer;
  font-size: 16px;
}

.navbar-right .btn:hover {
  background-color: #ddd;
}

.profile-picture {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;    
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.category-con{
  margin-top: 100px;
}
