.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background: #f3f4f6; 
}

.forgot-form {
  background: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 500px;
  height: 400px;
  text-align: center;
}

.forgot-form h2 {
  margin-bottom: 1.5rem;
  color: #333;
}
.label-forgot {
  font-size: 20px;         
  font-weight: bold;
  color: #333;            
  text-align: center;      
  margin-bottom: 20px;    
  letter-spacing: 1px;     
}
.label-text-forgot {
  margin-top: 20px;
  display: block;       
  text-align: left;       
  margin: 10px 0 5px 0; 
  font-size: 15px;
  color: #444;
}

.forgot-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border 0.2s;
}

.forgot-form input:focus {
  border-color: #2563eb; 
}

.btn-forgot{
  margin-top: 15px;
}

