.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eef2f7;
  font-family: "Prompt", sans-serif;
}
.form-label {
    margin-left: 20px;
}


.reset-form {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 400px;
  text-align: center;
}


.reset-form h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;   
  font-weight: bold;    
}

.reset-form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
}
.label-reset {
  font-size: 20px;        
  font-weight: bold;
  color: #333;       
  text-align: center;      
  margin-bottom: 20px;    
  letter-spacing: 1px;    
}
.label-text-reset {
  margin-top: 20px;
  display: block;        
  text-align: left;      
  margin: 10px 0 5px 0;  
  font-size: 15px;
  color: #444;
}


.reset-form input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 4px rgba(74, 144, 226, 0.5);
}

.btn-reset{
  margin-top: 20px;
}
.custom-btn-reset {
  
  margin-top: 15px;
  
}


