.body-rule {
  text-align: center;
  margin: 50px;
}
h3 {
    font-family: "Sarabun", sans-serif;
}
p {
    margin-top: 40px;
    color: rgb(33, 33, 33);
    font-size: 15px;
    font-family: "Sarabun", sans-serif;
}
.btn-approve{
    width: 110px;
    margin-top: 150px;
    border-radius: 12px;
    border: 0;
    background-color: #2A8234;
    font-family: "Sarabun", sans-serif;
}
.btn-approve:hover{
    background-color: #256d2d;
}
