html, body{
  height: 100%;
  margin: 0;
  
}

.home-container-p {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    position: relative;
    overflow-x: hidden;
    height: 100%;
    background: linear-gradient(135deg, #fffafc, #e6f3ff);
    background-image: 
        radial-gradient(circle at 10% 20%, rgba(255,182,193,0.3) 0px, transparent 50%),
        radial-gradient(circle at 90% 80%, rgba(173,216,230,0.3) 0px, transparent 50%);
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


.home-container-p::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        radial-gradient(circle at 20% 30%, rgba(231, 189, 253, 0.7) 100px, transparent 400px), 
        radial-gradient(circle at 80% 80%, rgba(173, 216, 230, 0.6) 150px, transparent 500px); 
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    pointer-events: none;
    filter: blur(20px);
}
.home-content-p {
  flex: 1; 
}

Footer {
  background-color: #222;
  color: white !important;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}
.profile-con{
  display: flex;
  flex-direction: column; 
  align-items: center;   
  justify-content: center; 
  text-align: center;     
  height: 100%;
}
.profile {
  margin-top: 0px;
  width: 180px;
  height: 180px;
  border-radius: 50%;  
  object-fit: cover;
}
h3{
  margin: 15px;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
  position: relative; 
}

.hamburger {
  cursor: pointer;
  font-size: 24px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 50px;     
  right: 20px;     
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.dropdown.show {
  display: block;
}

.dropdown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown a:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

.logout {
  color: red;              
  text-decoration: none;  
        
}

.logout:hover {
  text-decoration: underline; 
  color: rgb(145, 18, 18);           
}

.series-grid-profile {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  gap: 20px; 
  margin-top: 20px;
  margin: 30px;
  padding: 30px;
}

.series-item-profile {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.series-item-profile:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

.reviewed-series-poster {
  width: 100%;
  height: 220px; 
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.series-item-profile:hover .reviewed-series-poster {
  transform: scale(1.05);
}

.series-grid-profile p {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 16px;
  color: #666;
}
