html, body {
  height: 100%;
  margin: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.home-content {
  flex: 1; 
}

footer {
  background-color: #222;
  color: white !important;
  text-align: center;
  padding: 10px 0;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin: 20px;
}

.button{
    width: 60%;
}

h4 {
  margin-top: 20px;
  margin-left: 100px;
  font-size: 20px;     
  color: #292828;         
  font-weight: bold;   
  margin-bottom: 10px;  
    
}
.category-title {
  font-size: 18px;
  margin-left: 100px;
  margin-top: 30px;
 
} 

.series-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 25px 30px;
  margin-top: 15px;
  justify-content: center;
  justify-items: center;
  padding: 20px 60px;
}

.series-item {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.series-item img {
  width: 100%;
  height: 300px;      
  object-fit: cover; 
  border-radius: 12px;
}
.series-item:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  gap: 10px;  
}

.navbar .logo {
  height: 50px;
}
.btn {
  color: rgb(35, 35, 35);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.navbar-right .btn {
  margin-left: 12px;
  padding: 8px 16px;
  border-radius: 12px;
  border: none;
  background-color: #eee;
  cursor: pointer;
  font-size: 16px;
}

.navbar-right .btn:hover {
  background-color: #ddd;
}

.profile-picture {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;    
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}